/build/
/managed_components/
/components/arduino/
/release/
/dependencies.arduino.lock
/sdkconfig
/sdkconfig.old
/.vscode/settings.json
/.cache/
/.clangd/
*.bin
*.elf
*.map
*.key
*-key.pem
private-*.pem
*.nvs
*.nvs.bin
*.dump
.DS_Store
